<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loteria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
</head>
<body>
    <h1>Lotería Mexicana</h1>
    <table>
        {% for x in range(filas) %}
        <tr>
            {% for y in range(columnas) %}
                {% if (x+y)%3 == 0 %}  
                    <td class="rosa">{{cartas[(columnas*x)+y]}}</td>
                {% elif (x+y)%3 == 1 %}
                    <td class="azul">{{cartas[(columnas*x)+y]}}</td>
                {% else %}
                    <td class="amarillo">{{cartas[(columnas*x)+y]}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>