<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loteria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
</head>
<body>
    <h1>Lotería Mexicana</h1>
    <table>
        <tr>
            <td class="rosa"></td>
            <td class="azul"></td>
            <td class="amarillo"></td>
            <td class="rosa"></td>
        </tr>
        <tr>
            <td class="azul"></td>
            <td class="amarillo"></td>
            <td class="rosa"></td>
            <td class="azul"></td>
        </tr>
        <tr>
            <td class="amarillo"></td>
            <td class="rosa"></td>
            <td class="azul"></td>
            <td class="amarillo"></td>
        </tr>
        <tr>
            <td class="rosa"></td>
            <td class="azul"></td>
            <td class="amarillo"></td>
            <td class="rosa"></td>
        </tr>
    </table>
</body>
</html>