* {
    margin: 0;
    padding: 0;
    border: 0;
}

section, div { 
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.container1 {
    background-color: red;
    width: 1200px;
    height: 200px;
    display: flex; /*Se coloca al padre*/
    /*Acomodo vertical*/
    align-items: stretch; /*stretch, center, flex-start, flex-end*/
    /*Acomodo horizontal*/
    justify-content: flex-start; /*flex-start, flex-end, center, space-between, space-around, space-evenly*/
    /*Direccion*/
    flex-direction: row; /*row, column, row-reverse, column-reverse*/
    /*Si se llena la fila, me pone los elementos abajo*/
    flex-wrap: wrap;
}

/*
section
.container1 section
.container1 > section
.s1, .s2, .s3
*/
.container1  section {
    width: 200px;
    background-color: yellow;
}

.container2 {
    background-color: blueviolet;
    width: 1200px;
    height: 200px;
    display: flex;
    gap: 5%; /*Espacio entre elementos*/
}

.container2 section { /*Todas las etiquetas section dentro de contianer2*/
    background-color: white;
    flex: 1;
}

.container2 .section2 { /* la clase section2 dentro de container2 */
    flex: 2; /*sobreescribiendo*/
}

.container2 .section3 {
    flex: 3;
}

/*
section1 = 1 -> 1/6
section2 = 2 -> 2/6 = 1/3
section3 = 3 -> 3/6 = 1/2
TOTAL =    6
*/
