/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: black;
    padding: 10px 20px;
}

/*header h1*/
/*.container h1*/
.container > header > h1 {
    color: white;
}

main h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

aside {
    flex: 1;
    /* height: 100px; */
    border: 1px solid black;
    text-align: center;
    padding: 30px 0;
}

.right {
    flex: 3;
    /* height: 100px;
    border: 1px solid black; */
}

aside a {
    display: block;
    margin: 20px 0;
}

aside img {
    border-radius: 50%;
}

.card {
    border: 1px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.header-card {
    display: flex;
    justify-content: space-between;
}

.header-card button {
    background-color: gold;
    border: 1px solid black;
    padding: 5px 8px;
}
